<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<connectionStrings>
		<add name="pgProvider" connectionString="Server=192.168.34.100;Port=5433;Database=security;User Id=security;Password=S3cUr1#Y;" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.web>
		<membership defaultProvider="pgMembershipProvider">
			<providers>
				<clear />
				<add name="pgMembershipProvider" type="pgProvider.pgMembershipProvider, pgProvider" applicationName="pgProvider.Tests"/>
			</providers>
		</membership>
		<roleManager defaultProvider="pgRoleProvider">
			<providers>
				<clear />
				<add name="pgRoleProvider" type="pgProvider.pgRoleProvider, pgProvider" applicationName="pgProvider.Tests"/>
			</providers>
		</roleManager>
	</system.web>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
</configuration>
